
  <!-- Side navigation -->
<div class="sidenav">
    <a href="#">Dashboard</a>
    <a href="#">Daily Review</a>
    <a href="#">Reports</a>
    <a href="#">Goals</a>
    <a href="#">Dreams</a>
  </div>
  
  <div class="rendered-component-container">
    <!--Rout-Outlet to various child components onclick of side-bar links !-->
    <p>Component template rendered here <span>Component template rendered here</span></p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
    <p>Component template rendered here</p>
</div>