<div class="container-xl">
    <div class="row">
    <div class="command-bar col-md-8">
        <div class="command-item">command-bar</div>
       
    </div>
    </div>
    <div class="row">
        <div class="main-content col-md-8">
          <p>main-content</p>
          <p>main-content</p>
        </div>
        <div class="right-col col-md-4">
            <div>right-column</div>
            <div>right-column</div>
            <div>right-column</div>
        </div>
     
    </div>
   
</div>
