.grid-container{
    display: grid;
    border:1px solid black; 
    grid-template-columns: 79% 20%;
    grid-template-rows: minmax(40px, auto);
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-areas:
    "command-bar empty"
    "content side-bar"
    "content side-bar"; 
}
.command-bar{
background-color: aqua;
height: 50px;
}

.content{
    background-color: rgb(7, 5, 7);
    height: 50px;
}
.side-bar{
    background-color: green;
    height: 50px;
}
.empty{
    width:100%; 
}
.add-button{
    background-color: rgb(169, 167, 167);
    
}
.command-bar-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:5px; 
}
.button{
    margin-right: 10px;
}
@media screen and (max-width: 650px) {
    .grid-container{
        grid-template-columns: 100%;
        grid-template-areas:
    "command-bar"
    "content"
    "side-bar"; 
    }
   }
