.main-content{
    border-style: solid;

}

.right-col{
    border-style:solid; 
    
}
.command-bar{
    position: relative;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:53px ;
    border-style: solid;
   .command-item{
    position:absolute;
    right: 0;
    margin-right: 2px;
    border-style: solid;
   }
}

.container-xl{
    width:100%; 
   
}

