
.line-chart-container{
    position:relative;
    border-style:solid; 
    border-color: grey;
    margin: 50px auto ;
    width:90%;
    padding: 20px;
}
.container{
    position: relative;
    //background-color: lightgray;
    width:80%;
    height:100%;
    margin-left:105px; 
}
@media screen and (max-width: 650px) {
    .container{
        margin: auto;
        width: 100%;
    }
    .line-chart-container{
        width:100%; 
    }
    
   }