<div class="container">
  <h1>Welcome to Ascend</h1>
  <h2>Daily Review Feature</h2>
  <p>The Daily Review feature allows you to track your daily wellness ratings and habits, as well as record guided
    journal entries to reflect on your day. Simply select a rating from 1-10 for each category, mark your habits as
    completed or not, and enter your journal entries into the provided fields.</p>
  <img src="assets\DailyReview.PNG" alt="Daily Review Feature Image" />
  <h2>Reports Feature</h2>
  <p>The Reports feature allows you to view your progress over time by displaying a bar graph of your wellness ratings
    from 1-10 for a selected range of dates. Scroll through the dates and select a date to review your Daily Review
    entries from that day.</p>
  <img src="assets\WellnessRatingOverview.PNG" alt="Reports Feature Image" />
</div>