<form [formGroup]="habitReviewForm">
  <div class="review-form">
    <div class="heading-container">
      <h5 class="heading">Habits Completed</h5>
      <button type="button"  class="btn btn-secondary btn-sm" (click)="actionsClickedHandler()">
        Actions
      </button>
    </div>
      <div *ngFor="let habit of habits">
          <input type="checkbox" formControlName ="{{habit.id}}">
          <label for={{habit.id}}>{{habit.habitName}}</label><br>
      </div>
   
    <ng-container *ngIf="habits.length === 0">
      <h5 class="heading">There are no habits created to Display</h5>
    </ng-container>
  </div>
</form>