  <div class="container">
    <h2>Daily Review {{this.currentDate}}</h2>
    <div class="flex-parent-container">

      <app-wellness-rating-form
      [wellnessRatingForm]="wellnessRatingForm"
      [previousDailyReview]="previousDailyReview">
      </app-wellness-rating-form>
     

      <app-habit-review-form 
        [habitReviewForm]="habitReviewForm"
        [noHabits]="noHabits"
        [currentUserHabits]="currentUserHabits">
      </app-habit-review-form>

      <app-guided-journal-form
      [guidedJournalForm]="guidedJournalForm"
      [previousDailyReview]="previousDailyReview">
      </app-guided-journal-form>
  
  
        
    </div>
    <button class="btn btn-primary" (click)="submit()" [hidden]="previousDailyReview">Submit</button>
  </div>