.container {

  text-align: center;
  height: 100%;

}

.flex-parent-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 10px;

  .journal-container {
    label {
      font-weight: bold;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 15px;
    }
  }
}

.heading {
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 300px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .container {
    margin-left: 0px;
  }
}

.table-wrapper,
.container-lg {
  margin: 0;
  padding: 0;
}

.modal-body {
  margin-top: 0;
  margin-right: 3px;
  margin-left: 3px;
  padding: 0;
}

.modal-header,
.modal-content {
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-input {

  width: 100%;
}

a {

  cursor: pointer;
}
