.container {

  text-align: center;
  margin-bottom: 78px;
  margin-left: 111px;
}

.flex-parent-container {
  position:relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 10px;

  .journal-container {
    label {
      font-weight: bold;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 15px;
    }
  }


}

.heading {
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 300px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .container {
    margin-left: 0px;
  }
}



