

//holds the entire app comp contents
.app-root-container{
  position: relative;
  min-height: 900px;
  width: 100%;
}
.menu-link{display:none;}

.app-root-container footer {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 78px;
  //margin-left:39px ;
  background-color: #333;
  color: white;  
  position: absolute;
  bottom: -5;
  width: 100%;
  z-index: 2;
  background-color: #333;
}

//holds alert, and routed dashboard component
.main-container {
position: relative;
width: 100%;
min-height: 900px;
top:73px;
}

.nav-bar ul {
  list-style: none;
  top:0;
  position: fixed;
  width: 100%;
  //height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 20px;
  z-index: 1;

  li {
      float: left;
      a {
          display: block;
          color: white;
          text-align: center;
          padding: 8px;
          text-decoration: none;
          &:hover {
              background-color: #111;
          }
        }
     }
}


@media screen and (max-width: 650px) {
 .app-root-container footer{width: 100%;}
 .menu-link{display:inline-block;}
}
