<div class="app-root-container">
<div class="nav-bar">
  <ul>

    <li><a [routerLink]="['/home']" style="color:red;">Ascend</a></li>
    <ng-container>
    <li class="menu-link" (click)="sideBarMenuDisplay()"><a>Menu</a></li>
   </ng-container>
    <li><a [routerLink]="['/home']">Home</a></li>
    <ng-container *ngIf="localStorageUser$ | async as localStorageUser">
      <li *ngIf="localStorageUser === 'default'"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="localStorageUser === 'default'"><a [routerLink]="['/sign-up']">Sign-Up</a></li>
      <li><a [routerLink]="['/kb']">KB</a></li>
      <li *ngIf="localStorageUser !== 'default'"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li *ngIf="localStorageUser !== 'default'"><a (click)=logOut()>Logout</a></li>
    </ng-container>
  </ul>
</div>
 <div class="main-container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
<div class="footer-container">
  <footer>
    © 2020 Copyright:
    <a href="https://samplefooter.com/">sampleFooterLink.com</a>
  </footer>
</div>

</div>

