

<div id="nav-bar">
  <ul>
    <li><a [routerLink]="['/home']" style="color:red;">Ascend</a></li>
    <li><a [routerLink]="['/home']">Home</a></li>
    
    <div *ngIf="currentUser$ | async as currentUser">
      <div *ngIf="currentUser === 'default' ">
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/sign-up']">Sign-Up</a></li>
        </div>
      <div *ngIf="currentUser !== 'default'">
          <li><a (click)= logOut()>Logout</a></li>
      </div>
   </div>
    <li><a [routerLink]="['/kb']">Knowledge-Base</a></li>
  </ul>
</div>
<div id="flex-container">
  <!--render login, sign-up, knowledge-base, and home components !-->
<router-outlet></router-outlet>
</div>
<div id="footer-container">
<footer>
  Footer
</footer>
</div>
