<div class="app-root-container">
  <div class="nav-bar">
    <ul>
      <li><a [routerLink]="['/home']" style="color:red;">Ascend</a></li>
      <ng-container>
        <li class="menu-link" (click)="sideBarDisplay()"><a>Menu</a></li>
      </ng-container>
      <li><a [routerLink]="['/home']">Home</a></li>
      <ng-container>
        <li *ngIf="loginDisplay === false"><a (click)="login()">Login</a></li>
        <li><a [routerLink]="['/kb']">KB</a></li>
        <li *ngIf="loginDisplay === true"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li *ngIf="loginDisplay === true"><a (click)="logOut()">Logout</a></li>
      </ng-container>
    </ul>
  </div>
  <div class="main-container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
  <div class="footer-container">
    <footer>
      © 2020 Copyright:
      <a href="https://samplefooter.com/">sampleFooterLink.com</a>
    </footer>
  </div>
</div>
