<form [formGroup]="wellnessRatingForm">
    <div class="review-form">
      <h5 class="heading">Wellness Ratings</h5>
      <!--Hard Code the wellness ratings for now -->
      <div class="slide-bar-group">
        <label for="sleepRating"><b>Sleep:<span class="rating-text">{{sleepRating}}</span></b></label>
        <input id="sleepRating"  formControlName="sleepRating" required type="range" thumbLabel min="1" max="10"
          class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="exerciseRating"><b>Exercise:<span class="rating-text">{{exerciseRating}}</span></b></label>
        <input type="range" formControlName="exerciseRating" thumbLabel min="1" max="10" class="slider"
          id="exerciseRating" class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="nutritionRating"><b>Nutrition:<span class="rating-text">{{nutritionRating}}</span></b></label>
        <input type="range"  formControlName="nutritionRating" thumbLabel min="1" max="10" class="slider"
          id="nutritionRating" class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="stressRating"><b>Stress:<span class="rating-text">{{stressRating}}</span></b></label>
        <input type="range" formControlName="stressRating" thumbLabel min="1" max="10" class="slider"
          id="stressRating" class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="sunlightRating"><b>Sunlight:<span class="rating-text">{{sunlightRating}}</span></b></label>
        <input type="range"[readonly]="previousDailyReview" formControlName="sunlightRating" thumbLabel min="1" max="10" class="slider"
          id="sunlightRating" class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="mindfulnessRating"><b>Mindfulness:<span class="rating-text">{{mindfulnessRating}}</span></b></label>
        <input type="range" formControlName="mindfulnessRating" thumbLabel min="1" max="10" class="slider"
          id="mindfulnessRating" class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="productivityRating"><b>Productivity:<span class="rating-text">{{productivityRating}}</span></b></label>
        <input type="range" formControlName="productivityRating" thumbLabel min="1" max="10" class="slider"
          id="ProductivityRating" class="form-range">
      </div>
      <div class="slide-bar-group">
        <label for="moodRating"><b>Mood:<span class="rating-text">{{moodRating}}</span></b></label>
        <input type="range"class="form-range"  formControlName="moodRating" thumbLabel min="1" max="10" class="slider" id="moodRating">
      </div>
      <div class="slide-bar-group">
        <label for="energyRating"><b>Energy:<span class="rating-text">{{energyRating}}</span></b></label>
        <input type="range" class="form-range" formControlName="energyRating" thumbLabel min="1" max="10" class="slider"
          id="energyRating">
      </div>
      <div class="slide-bar-group">
        <label for="overallDayRating"><b>Overall:<span class="rating-text">{{overallDayRating}}</span></b></label>
        <input type="range" class="form-range" formControlName="overallDayRating" thumbLabel min="1" max="10" class="slider"
          id="overallDayRating">
      </div>
    </div>
  </form>
