/* You can add global styles to this file, and also import other style files */
.field-error{
    border: 1px solid red;
}
html, body { min-height: 100vh;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.review-form{
    padding-top: 25px;
    display: inline-flex;
    background-color: lightgray;
    flex-direction: row;
    align-content: flex-start;
    border-style: solid;
    margin-top: 25px;
    padding: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 300px;

    div {
      height: 40px;

      label {
        margin-right: 5px;
      }
    }
}