

.field-error {

  border: 1px solid red;
}

.review-form {

  padding-top: 25px;
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 25px;
  padding: 5px;
  justify-content: left;
  flex-wrap: wrap;
  width: 300px;
  box-shadow: 3px 3px 10px 9px rgb(63, 61, 61);

  .heading-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

  }
  button, input{
    border-radius: 10px;
  }
}


body {
    font-family: 'Open Sans', sans-serif;
}
