<form [formGroup]="guidedJournalForm">
  <div class="review-form">
    <div class="heading-container">
    <h5 class="heading">Guided Journal</h5>
    <ng-container *ngIf="!previousDailyReview">
    <button type="button"  (click)="actionsClickedHandler()" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#actionsModal">
      Actions
    </button>
  </ng-container>
  </div>
    <ng-container *ngFor="let entry of journalEntries">
      <label for={{entry.uuid}}>{{entry.entryName}}</label>
      <textarea id={{entry.uuid}} formControlName={{entry.uuid}} rows="4"
        cols="50"></textarea>
    </ng-container>
  </div>
</form>
